.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: lightblue;
  height: 100px;
  /*padding: 10px;*/
  color: white;
  font-family: 'Mogra', cursive;
  font-size: 3.5em;
}

.Footer {
  background-color: lightblue;
  height: 50px;
  padding: 20px;
  color: white;
  font-family: 'Mogra', cursive;
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*Calender page*/
.Main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 10em;
  margin-top: 2em;


}

.Pic-container {
  font-size: large;
  margin-left: 10em;
  margin-top: 1em;
  flex-grow: 1;
}

.Dir-container {
  font-family: 'Source Sans Pro', sans-serif;
  /*text-align: center;*/
  flex-grow: 6;
  font-size: 1.5em
}

.Dir-container li {
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

.Event-details{
  padding-right: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
}

.Cal-container {
  padding: 9em 0 0 0
}
/*Admin page*/

.Form-container {
  margin-left: 1em;
  padding-left: 2em;
}


.Register-form {
    width: 14em;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2em
}

.Register-button {
    background-color: #4286f4;
    color: #222c3a;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1em;
    font-size: 1em;
}

.Back-button {
  background-color: #4286f4;
  color: #222c3a;
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1em;
  font-size: 1em;
}
